# Milestone 3

### Nama  : Ilmimada Harfiya
### Batch : CODA-RMT-007

## Program ini dibuat untuk melakukan eksplorasi data dan validasi data Global Electronics Retailer.
---

## Join data pada menjadi satu file .csv, menggunakan primary key pada masing-masing data

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# read the dataset
sales = pd.read_csv('Sales.csv')
products = pd.read_csv('Products.csv')
stores = pd.read_csv('Stores.csv')

In [3]:
# format tanggal agar bisa digabungkan
sales["Order Date"] = pd.to_datetime(sales["Order Date"])
stores["Open Date"] = pd.to_datetime(stores["Open Date"])
sales["Delivery Date"] = pd.to_datetime(sales["Delivery Date"], errors="coerce")

In [6]:
# merge dataframes
merged_df = pd.merge(sales, products, on='ProductKey', how='left')
merged_df = pd.merge(merged_df, stores, on='StoreKey', how='left')

merged_df.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Product Name,...,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Country,State,Square Meters,Open Date
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD,Contoso Lens Adapter M450 White,...,$31.27,$68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,A. Datum SLR Camera X136 Silver,...,$141.47,$427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Fabrikam Microwave 1.5CuFt X1100 Black,...,$220.64,$665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Contoso SLR Camera M146 Orange,...,$148.08,$322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Adventure Works Laptop8.9 E0890 White,...,$166.20,$326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01

In [7]:
# Save the merged dataframe to a CSV file
merged_df.to_csv('P2M3_ilmimada_harfiya_raw_data.csv', index=False)

---

## Eksploratory data analysis

In [8]:
# load data + ubah datetime format
df = pd.read_csv("P2M3_ilmimada_harfiya_raw_data.csv")

In [9]:
df.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Product Name,...,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Country,State,Square Meters,Open Date
0,366000,1,2016-01-01,NaN,265598,10,1304,1,CAD,Contoso Lens Adapter M450 White,...,$31.27,$68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,1210.0,2015-04-04
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,A. Datum SLR Camera X136 Silver,...,$141.47,$427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Fabrikam Microwave 1.5CuFt X1100 Black,...,$220.64,$665.94,803,Microwaves,8,Home Appliances,Online,Online,NaN,2010-01-01
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Contoso SLR Camera M146 Orange,...,$148.08,$322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,NaN,2010-01-01
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Adventure Works Laptop8.9 E0890 White,...,$166.20,$326.00,301,Laptops,3,Computers,Online,Online,NaN,2010-01-01

In [10]:
# Cek struktur data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  object
 3   Delivery Date   13165 non-null  object
 4   CustomerKey     62884 non-null  int64
 5   StoreKey        62884 non-null  int64
 6   ProductKey      62884 non-null  int64
 7   Quantity        62884 non-null  int64
 8   Currency Code   62884 non-null  object
 9   Product Name    62884 non-null  object
 10  Brand           62884 non-null  object
 11  Color           62884 non-null  object
 12  Unit Cost USD   62884 non-null  object
 13  Unit Price USD  62884 non-null  object
 14  SubcategoryKey  62884 non-null  int64
 15  Subcategory     62884 non-null  object
 16  CategoryKey     62884 non-null  int64
 17  Category        62884 non-null  object
 18  Country         62884 non-null  object
 19  State           62884 non-null  object
 20  Square Meters   49719 non-null  float64
 21  Open Date       62884 non-null  object
dtypes: float64(1), int64(8), object(13)
memory usage: 10.6+ MB

In [11]:
# ubah semua nama kolom menjadi snake_case dan ganti huruf besar menjadi huruf kecil
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [12]:
# ubah format tanggal
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['delivery_date'] = pd.to_datetime(df['delivery_date'], errors='coerce')
df['open_date'] = pd.to_datetime(df['open_date'], errors='coerce')

In [13]:
 # cek format tanggal
print(df['order_date'].head())
print(df['delivery_date'].head())
print(df['open_date'].head())

0   2016-01-01
1   2016-01-01
2   2016-01-01
3   2016-01-01
4   2016-01-01
Name: order_date, dtype: datetime64[ns]
0          NaT
1   2016-01-13
2   2016-01-13
3   2016-01-12
4   2016-01-12
Name: delivery_date, dtype: datetime64[ns]
0   2015-04-04
1   2010-01-01
2   2010-01-01
3   2010-01-01
4   2010-01-01
Name: open_date, dtype: datetime64[ns]

In [16]:
# cek missing values
df.isnull().sum().sort_values(ascending=False)

delivery_date     49719
order_number          0
color                 0
state                 0
country               0
category              0
categorykey           0
subcategory           0
subcategorykey        0
unit_price_usd        0
unit_cost_usd         0
brand                 0
line_item             0
product_name          0
currency_code         0
quantity              0
productkey            0
storekey              0
customerkey           0
order_date            0
open_date             0
dtype: int64

In [15]:
# hapus kolom yang tidak diperlukan
df = df.drop(columns=['square_meters'])

In [18]:
# isi missing values pada kolom delivery_date dan state_code dengan 'na'
df['delivery_date'] = df['delivery_date'].fillna('na')

In [19]:
# cek missing values setelah koreksi
df.isnull().sum().sort_values(ascending=False)

order_number      0
color             0
state             0
country           0
category          0
categorykey       0
subcategory       0
subcategorykey    0
unit_price_usd    0
unit_cost_usd     0
brand             0
line_item         0
product_name      0
currency_code     0
quantity          0
productkey        0
storekey          0
customerkey       0
delivery_date     0
order_date        0
open_date         0
dtype: int64

In [20]:
# ubah kolom unit cost dan unit price menjadi numerik
df['unit_cost_usd'] = df['unit_cost_usd'].replace('[\$,]', '', regex=True).astype(float)
df['unit_price_usd'] = df['unit_price_usd'].replace('[\$,]', '', regex=True).astype(float)

In [21]:
df.describe()

,order_number,line_item,order_date,customerkey,storekey,productkey,quantity,unit_cost_usd,unit_price_usd,subcategorykey,categorykey,open_date
count,6.288400e+04,62884.000000,62884,6.288400e+04,62884.000000,62884.000000,62884.000000,62884.000000,62884.000000,62884.000000,62884.000000,62884
mean,1.430905e+06,2.164207,2018-11-30 21:21:56.939126016,1.180797e+06,31.802144,1125.859344,3.144790,116.253013,280.569848,450.198238,4.469611,2011-05-30 02:16:19.174352896
min,3.660000e+05,1.000000,2016-01-01 00:00:00,3.010000e+02,0.000000,1.000000,1.000000,0.480000,0.950000,101.000000,1.000000,2005-03-04 00:00:00
25%,1.121017e+06,1.000000,2018-01-25 00:00:00,6.808580e+05,8.000000,437.000000,1.000000,22.050000,47.950000,303.000000,3.000000,2010-01-01 00:00:00
50%,1.498016e+06,2.000000,2019-02-06 00:00:00,1.261200e+06,37.000000,1358.000000,2.000000,79.530000,181.000000,501.000000,5.000000,2010-01-01 00:00:00
75%,1.788010e+06,3.000000,2019-11-23 00:00:00,1.686496e+06,53.000000,1650.000000,4.000000,138.420000,300.000000,602.000000,6.000000,2013-06-07 00:00:00
max,2.243032e+06,7.000000,2021-02-20 00:00:00,2.099937e+06,66.000000,2517.000000,10.000000,1060.220000,3199.990000,808.000000,8.000000,2019-03-05 00:00:00
std,4.532963e+05,1.365170,NaN,5.859634e+05,22.978188,709.244010,2.256371,140.033327,382.827515,212.710652,2.132682,NaN

In [22]:
df.head()

,order_number,line_item,order_date,delivery_date,customerkey,storekey,productkey,quantity,currency_code,product_name,...,color,unit_cost_usd,unit_price_usd,subcategorykey,subcategory,categorykey,category,country,state,open_date
0,366000,1,2016-01-01,na,265598,10,1304,1,CAD,Contoso Lens Adapter M450 White,...,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,Canada,Nunavut,2015-04-04
1,366001,1,2016-01-01,2016-01-13 00:00:00,1269051,0,1048,2,USD,A. Datum SLR Camera X136 Silver,...,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,2010-01-01
2,366001,2,2016-01-01,2016-01-13 00:00:00,1269051,0,2007,1,USD,Fabrikam Microwave 1.5CuFt X1100 Black,...,Black,220.64,665.94,803,Microwaves,8,Home Appliances,Online,Online,2010-01-01
3,366002,1,2016-01-01,2016-01-12 00:00:00,266019,0,1106,7,CAD,Contoso SLR Camera M146 Orange,...,Orange,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,Online,Online,2010-01-01
4,366002,2,2016-01-01,2016-01-12 00:00:00,266019,0,373,1,CAD,Adventure Works Laptop8.9 E0890 White,...,White,166.20,326.00,301,Laptops,3,Computers,Online,Online,2010-01-01

In [23]:
# cek duplikasi
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [24]:
# gabungkan order number dan line item jadi id unik
df["order_line_id"] = df["order_number"].astype(str) + "_" + df["line_item"].astype(str)

In [25]:
# buat kolom baru total_sales
df["total_sales"] = df["unit_price_usd"] * df["quantity"]
df["total_sales"]

0          68.00
1         854.00
2         665.94
3        2254.00
4         326.00
          ...
62879     417.00
62880     480.00
62881     219.98
62882     140.26
62883    4753.00
Name: total_sales, Length: 62884, dtype: float64

In [26]:
# save dataframe ke csv
df.to_csv('P2M3_ilmimada_harfiya_data_raw.csv', index=False)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_number    62884 non-null  int64
 1   line_item       62884 non-null  int64
 2   order_date      62884 non-null  datetime64[ns]
 3   delivery_date   62884 non-null  object
 4   customerkey     62884 non-null  int64
 5   storekey        62884 non-null  int64
 6   productkey      62884 non-null  int64
 7   quantity        62884 non-null  int64
 8   currency_code   62884 non-null  object
 9   product_name    62884 non-null  object
 10  brand           62884 non-null  object
 11  color           62884 non-null  object
 12  unit_cost_usd   62884 non-null  float64
 13  unit_price_usd  62884 non-null  float64
 14  subcategorykey  62884 non-null  int64
 15  subcategory     62884 non-null  object
 16  categorykey     62884 non-null  int64
 17  category        62884 non-null  object
 18  country         62884 non-null  object
 19  state           62884 non-null  object
 20  open_date       62884 non-null  datetime64[ns]
 21  order_line_id   62884 non-null  object
 22  total_sales     62884 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(8), object(10)
memory usage: 11.0+ MB

In [28]:
# value unik pada kolom category
unique_categories = df['category'].unique()
print(f"Unique categories: {unique_categories}")

Unique categories: ['Cameras and camcorders' 'Home Appliances' 'Computers' 'TV and Video'
 'Cell phones' 'Music, Movies and Audio Books' 'Games and Toys' 'Audio']

---
## Great Expectaion Section
---

In [38]:
# install the library great_expectations
!pip install -q "great-expectations==0.18.19"

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

### instatiate data context

In [29]:
# create data context
from great_expectations.data_context import FileDataContext
context = FileDataContext.create(project_root_dir=".")

### connect to a data source

In [30]:
# give a name to a data source
datasource_name = "csv-data-global-electronic-retail"
datasource = context.sources.add_pandas(datasource_name)

# give a name to a data asset
asset_name = "sales_data"
path_to_data = "P2M3_ilmimada_harfiya_data_raw.csv"
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# build batch request
batch_request = asset.build_batch_request()

DataContextError: Can not write the fluent datasource csv-data-global-electronic-retail because a datasource of that name already exists in the data context.

### create an expectation suites

In [31]:
# create an expectation suite
expectation_suite_name = "sales_data_expectations"
context.add_or_update_expectation_suite(expectation_suite_name)

# create a validator using above expectation suite
validator = context.get_validator(
    batch_request=batch_request,
    expectation_suite_name=expectation_suite_name
)

# check the validator
validator.head()

NameError: name 'batch_request' is not defined

### expectations

In [43]:
# expectation 1 : column order_date should not have null values
validator.expect_column_values_to_not_be_null(column="order_date")

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 62884,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [48]:
# expectation 2 : column order_line_id should be unique
validator.expect_column_values_to_be_unique(column="order_line_id")

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 62884,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [75]:
# expectation 3 : column quantity must be between 0 and 100
validator.expect_column_values_to_be_between(
    column="quantity",
    min_value=0,
    max_value=100
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 62884,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
# expectation 4 : column quantity must be exist to calculate the ammount of total sales
validator.expect_column_to_exist(column="quantity")

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
# expectation 5 : column category must contain one of the following 8 things :

validator.expect_column_values_to_be_in_set(
    column="category",
    value_set=[
        "Cameras and camcorders",
        "Home Appliances",
        "Computers",
        "TV and Video",
        "Cell phones",
        "Music, Movies and Audio Books",
        "Games and Toys",
        "Audio"
    ]
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 62884,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
# expectation 6 : column order_date must be in the past
from datetime import datetime
current_date = datetime.now()
validator.expect_column_values_to_be_in_set(
    column="order_date",
    value_set=[date for date in pd.date_range(start='2000-01-01', end=current_date)]
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 62884,
    "unexpected_count": 62884,
    "unexpected_percent": 100.0,
    "partial_unexpected_list": [
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01",
      "2016-01-01"
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 100.0,
    "unexpected_percent_nonmissing": 100.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
# expectation 7 : column gender must be one of the following values:
validator.expect_column_values_to_be_in_set(
    column="gender",
    value_set=[
        "Male",
        "Female"
    ]
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 62884,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
# expectation 8 : columns order_date, delivery_date, open_date, must be in datetime format
validator.expect_column_values_to_be_of_type(
    column="order_date",
    type_="datetime"
)
validator.expect_column_values_to_be_of_type(
    column="delivery_date",
    type_="datetime"
)
validator.expect_column_values_to_be_of_type(
    column="open_date",
    type_="datetime"
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 62884,
    "unexpected_count": 62884,
    "unexpected_percent": 100.0,
    "partial_unexpected_list": [
      "2015-04-04",
      "2010-01-01",
      "2010-01-01",
      "2010-01-01",
      "2010-01-01",
      "2010-01-01",
      "2015-04-04",
      "2015-04-04",
      "2015-12-09",
      "2015-01-01",
      "2015-01-01",
      "2008-01-01",
      "2008-01-01",
      "2008-01-01",
      "2005-03-04",
      "2010-01-01",
      "2014-01-01",
      "2014-01-01",
      "2014-01-01",
      "2014-01-01"
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 100.0,
    "unexpected_percent_nonmissing": 100.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [83]:
# save the expectation suite
validator.save_expectation_suite(discard_failed_expectations=False)

### checkpoint

In [84]:
# create a checkpoint
checkpoint_1 = context.add_or_update_checkpoint(
    name="checkpoint_1",
    validator=validator,
)

In [86]:
# run the checkpoint
checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/50 [00:00<?, ?it/s]

### data docs

In [87]:
# build data docs
context.build_data_docs()

{'local_site': 'file:///Volumes/Data-Disk/Hacktiv8/CODA_RMT_007/Phase_2/tugas/p2-coda007-rmt-m3-ilmimada/gx/uncommitted/data_docs/local_site/index.html'}